$font_path: '~@/assets/fonts/';
$primary: #eb2027;

@font-face {
  font-family: 'AXIS';
  src: local('AXIS'),
  url($font_path+'AXIS-ExtraBold.woff2') format('woff2');
  font-weight: 800;
  font-style: normal;
}
